/*
 * Globals
 */

body {
    font-family: 'Karla',sans-serif;
    color: #555;
}
body > .container {
    min-height: calc(100vh - 100px);
    display: block;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: rgb(40, 107, 161);
}
i.fab, i.fas, i.far, i.fal {
    font-size: 24px;
    margin: 0 20px;
}
span.fab, span.fas, span.far, span.fal {
    margin-right: 8px;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

/*
 * Custom global classes
 */

.last-hidden:last-child {
    display: none;
}

/*
 * Masthead for nav
 */

.blog-masthead {
    background-image: linear-gradient(to right, rgb(78, 141, 135), rgb(38, 105, 166));
}
.blog-masthead>.container {
    padding: 15px 0;
    height: 100px;
    line-height: 70px;
}
.blog-masthead>.container #logo {
    height: 70px;
}
.blog-masthead .social_network_logo {
    display: inline-block;
    margin: 0 10px;
    color: white;
    vertical-align: sub;
}
.blog-masthead .social_network_logo i {
    font-size: 30px;
}
/* Nav links */

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover, .blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}
/* Active state gets a caret at the bottom */

.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}
/*
 * Blog name and description
 */

.blog-header.header-return {
    padding-top: 10px;
}

.blog-header.header-return .return-link {
    font-size: 17px;
 }

.blog-header.header-return h1.blog-title {
    margin-top: 20px;
}

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-header a.btn {
    position: absolute;
    top: 200px;
    margin-left: -55px;
}
.blog-title {
    margin: 10px auto 20px auto;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    max-width : calc(100% - 110px);
}
.blog-title a {
    font-weight: normal;
    color: rgb(40, 107, 161);
}
.blog-subtitle {
    text-align: center;
    font-size: 28px;
    margin-top: -20px;
}
.blog-description {
    font-size: 20px;
    color: #999;
}
/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 50px;
}

/* Post content */

.blog-main blockquote,
.blog-main p {
    text-align: justify;
}

.blog-main img {
    display: block;
    max-width: 100%;
}

.blog-single {
    padding-left: 100px;
    padding-right: 100px;
}

.blog-single img {
    box-shadow: 0px 8px 20px #888;
    border-radius: 10px;
    margin-bottom: 30px;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

p.post-info {
    margin-bottom: 0;
}

/* Card / article */

.empty-card {
    display: block;
    width: 100px;
    height: 100px;
}

.card {
    margin-bottom: 10px;
}
.card-title {
    font-size: 24px;
    color: #333;
}
.card-subtitle {
    font-size: 14px;
}
.card-text {
    font-size: 14px;
}
.card-text * {
    max-width: 100%;
}

/* Sidebar modules for boxing content */

.blog-sidebar {
    padding-left: 50px;
    padding-bottom: 50px;
    height: 550px;
}
.sidebar-module {
    padding: 0 15px;
    margin-bottom: 25px;
}
.sidebar-module h4 {
    font-size: 18px;
    background-color: #eee;
    padding: 5px;
    color: #333;
}
.sidebar-module ol {
    padding-left: 10px;
}
.sidebar-module a#livreblanc {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
/* Pagination */

.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager>li>a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}
/*
 * Footer
 */

.blog-footer {
    display: inline-block;
    width: 100%;
    background-color: #151515;
}

.blog-footer .return-top {
    text-align: center;
    background-image: linear-gradient(to right, rgba(77, 141, 135,1), rgba(38, 105, 166,1));
    padding: 5px;
}
    .blog-footer .return-top:hover {
        background-image: linear-gradient(to right, rgba(77, 141, 135,0.3), rgba(38, 105, 166,0.3));
    }

    .blog-footer .return-top a {
        width: 100%;
        display: block;
        text-decoration: none;
    }

.blog-footer > .row {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    margin: 35px;
}

.blog-footer a,.blog-footer a:visited,.blog-footer a:active,.blog-footer a:focus {
    color: #fff;
    outline: 0
}

#footer-copyright {
    color: rgba(255,255,255,.4);
}

#footer-copyright a,#footer-copyright a:visited,#footer-copyright a:active,#footer-copyright a:focus {
    color: rgba(255,255,255,.4);
    outline: 0
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin: auto;
}
.list-inline li {
    padding-left: 10px;
    padding-right: 10px
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}

/* Bricklayer */

.bricklayer {
    margin-top : -550px;
}

.container:not(.livreblanc) .bricklayer-column:last-child{
    margin-top: 550px;
}

.bricklayer-column-sizer {
    width: 33.3%;
}

/*
 * Error pages
 */

.error-page h1 {
    padding-top: 5%;
    padding-bottom: 2%;
}

.error-page img {
    display: block;
    width: 300px;
    margin: 8% auto;
}

.error-page {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .bricklayer-column-sizer {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .bricklayer-column-sizer {
        width: 100%;
    }
    .blog-sidebar {
        padding-left: 70px;
        padding-right: 70px;
    }
    .blog-masthead>.container {
        height: auto;
        line-height: inherit;
    }
    .blog-masthead #logo {
        margin-bottom: 20px;
    }
    .text-center-sm {
        text-align: center !important;
    }
    .card-columns {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}